* {
    box-sizing: border-box;
    background-color: black;
    color: blanchedalmond;
}
/*HEADER*/
.header-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
}
.header-logo {
    width: 100%;
    grid-column: 1/3;
}
.header-noticias {
    width: 100%;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header-noticias a {
    text-decoration: none;
}
.header-equipos {
    width: 100%;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header-equipos a {
    text-decoration: none;
}
.header-torneo {
    width: 100%;
    grid-column: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header-torneo p {
    color: turquoise;
}
.header-torneo a {
    text-decoration: none;
}
.header-torneo p:hover {
    border-bottom: blanchedalmond 2px solid;
}
.header-equipos p:hover {
    border-bottom: blanchedalmond 2px solid;
}
.header-noticias p:hover {
    border-bottom: blanchedalmond 2px solid;
}
.botonera-torneo{
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    margin: auto;
}
.botonera-torneo div{
    justify-items: center;
    margin: auto;
    padding-left: 20px;
}
.botonera-torneo a {
    text-decoration: none;
}
/*MAIN*/
.main-contenedor{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
.gloria{
    display: block;
    margin: auto;
}
.fase{
    display: block;
    margin: auto;
}
.fase p{
    color: #f03805;
    font-size: 30px;
    font-weight: 700;
}
.zona1 p{
    color:gold;
    font-size: 30px;
    font-weight: 700;
}
.zona2 p{
    color:silver;
    font-size: 30px;
    font-weight: 700;
}
.partido{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    gap: 5px;
    border: #0ecdeb solid 2px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.letra1{
    grid-column: 1/2;
    border: #0ecdeb solid 2px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.letra1 p{
    font-size: 25px;
    font-weight: 700;
    color: #0ecdeb;
    align-self: center;
}
.equipo1{
    height: 50px;
    grid-column: 2/3;
    display: flex;
    align-content: center;
    background: #0ecdeb ;
}
.equipo1 img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.equipo1 p{
    margin-left: 10px;
    background: #0ecdeb;
    color: black;
    font-weight: 700;
}
.vs{
    height: 50px;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #f03805;
}
.vs p{
    font-size: 25px;
    font-weight: 700;
    background: #f03805;
    color: #000000;
    align-self: center;
}
.equipo2{
    height: 50px;
    grid-column: 4/5;
    display: flex;
    background: #0ecdeb ;
    align-content: center;
    justify-content: flex-end;
}
.equipo2 img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.equipo2 p{
    margin-right: 10px;
    background: #0ecdeb;
    color: black;
    font-weight: 700;
}
.letra2{
    height: 50px;
    grid-column: 5/6;
    border: #0ecdeb solid 2px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.letra2 p{
    align-self: center;
    font-size: 25px;
    font-weight: 700;
    color: #0ecdeb;
}
.date {
    height: 18px;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}
.date p{
    align-self: center;
    color:white;
}
.resultado {
    height: 18px;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}
.resultado p{
    align-self: center;
    color:white;
}
.ganador {
    height: 18px;
    grid-column: 1/6;
    display: flex;
    justify-content: center;

}
.ganador p{
    align-self: center;
    color:white;
}

 /*Responsive*/
 @media (max-width: 660px) {
    .header-torneo {
         font-size: 10px;
    }
    .header-equipos {
         font-size: 10px;
    }
    .header-noticias {
         font-size: 10px;
    }
    .header-logo img {
        width: 100px;
    }
    .botonera-torneo p{
        font-size: 10px;
    }
    .equipo1 p{
        font-size: 10px;
    }
    .equipo2 p{
        font-size: 10px;
    }
 }