* {
    box-sizing: border-box;
    background-color: black;
    color: blanchedalmond;
}
.header-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
}
.header-logo {
    width: 100%;
    grid-column: 1/3;
}
.header-noticias {
    width: 100%;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header-noticias p {
    color: turquoise;
}
.header-noticias a {
    text-decoration: none;
}
.header-equipos {
    width: 100%;
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header-equipos a {
    text-decoration: none;
}
.header-torneo {
    width: 100%;
    grid-column: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header-torneo a {
    text-decoration: none;
}
.header-torneo p:hover {
    border-bottom: blanchedalmond 2px solid;
}
.header-equipos p:hover {
    border-bottom: blanchedalmond 2px solid;
}
.header-noticias p:hover {
    border-bottom: blanchedalmond 2px solid;
}
 /*Responsive*/
 @media (max-width: 660px) {
    .header-torneo {
         font-size: 20px;
    }
    .header-equipos {
         font-size: 20px;
    }
    .header-noticias {
         font-size: 20px;
    }
    .header-logo img {
        width: 120px;
    }
 }