<!DOCTYPE html>
<html>
  <title>HARLEM GLOBETORPES</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" href="/css/equipoindividual.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
        <div class="logoequipo">
          <img src="/images/equipos/harlem.jpeg" alt="">
        </div>
        <div class="general">
        <div class="player1">
          <div class="imagen">
            <img src="/images/players/jugador.jpg" alt="">
          </div>
          <div class="detalles">
            <ul>
              <li>Nombre:</li>
              <li>Alias:</li>
              <li>Mundialito Nickname: <i></i></li>
              <li>Mano:</li>
              <li>Fortaleza:</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="general">
        <div class="player2">
          <div class="imagen">
            <img src="/images/players/jugador.jpg" alt="">
          </div>
          <div class="detalles">
            <ul>
              <li>Nombre:</li>
              <li>Alias:</li>
              <li>Mundialito Nickname: <i></i></li>
              <li>Mano:</li>
              <li>Fortaleza:</li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </main>
  </body>
</html>