<!DOCTYPE html>
<html>
  <head>
    <title>SANGRE INCA</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/equipoindividual.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
        <div class="logoequipo">
          <img src="/images/equipos/sangre.jpeg" alt="">
        </div>
        <div class="general">
        <div class="player1">
          <div class="imagen">
            <img src="/images/players/chino.jpg" alt="">
          </div>
          <div class="detalles">
            <ul>
              <li>Nombre Completo: <i>Daniel Schmisser</i></li>
              <li>Sobrenombre: <i>Chino</i></li>
              <li>Mano: <i>Zurda</i></li>
              <li>Fortaleza: <i>Buena defensa</i></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="general">
        <div class="player2">
          <div class="imagen">
            <img src="/images/players/rana.jpg" alt="">
          </div>
          <div class="detalles">
            <ul>
              <li>Nombre Completo: <i>Rodrigo Arévalo</i></li>
              <li>Sobrenombre: <i>Rana</i></li>
              <li>Mano: <i>Derecha</i></li>
              <li>Fortaleza: <i>Incansable</i></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </main>
  </body>
</html>