<!DOCTYPE html>
<html>
  <head>
    <title>Mundialito - Equipos</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/equipos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
        <div class="equipo1">
          <a href="/equipo/1"><img src="/images/equipos/avalancha.jpeg" alt=""></a>
        </div>
        <div class="equipo11">
          <a href="/equipo/11"><img src="/images/equipos/californication.jpeg" alt=""></a>
        </div>
        <div class="equipo2">
          <a href="/equipo/2"><img src="/images/equipos/cracken.jpeg" alt=""></a>
        </div>
        <div class="equipo9">
          <a href="/equipo/9"><img src="/images/equipos/doblev.jpeg" alt=""></a>
        </div>
        <div class="equipo3">
          <a href="/equipo/3"><img src="/images/equipos/dososos.jpeg" alt=""></a>
        </div>
        <div class="equipo4">
          <a href="/equipo/4"><img src="/images/equipos/hammers.jpeg" alt=""></a>
        </div>
        <div class="equipo5">
          <a href="/equipo/5"><img src="/images/equipos/harlem.jpeg" alt=""></a>
        </div>
        <div class="equipo10">
          <a href="/equipo/10"><img src="/images/equipos/Paleta.jpeg" alt=""></a>
        </div>
        <div class="equipo8">
          <a href="/equipo/8"><img src="/images/equipos/Peaky.jpeg" alt=""></a>
        </div>
        <div class="equipo6">
          <a href="/equipo/6"><img src="/images/equipos/rondpoint.jpeg" alt=""></a>
        </div>
        <div class="equipo7">
          <a href="/equipo/7"><img src="/images/equipos/sangre.jpeg" alt=""></a>
        </div>
      </div>
    </main>
  </body>
</html>