<!DOCTYPE html>
<html>
  <head>
    <title>Mundialito Padel</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
          <div class="note">
            <h2>SE PRUEBAN LA ROPA DE CANDIDATOS?</h2>
            <img src="/images/parejacracken.jpg" alt="">
            <p>Mientras el Mundialito se va desarrollando y aún hay equipos que no debutaron, le gente ya empieza a tener a sus equipos preferidos, uno de ellos es Cracken que a base de chistes, fotos y
            comentarios fuera de lugar (pero de los queribles), se van armando de una reputación que los ponen como candidatos. De juego? Bueno, mal no juegan. Ahora la pregunta que la gente se está haciendo es:
            LES QUEDARA LA ROPA o SERA MUY GRANDE? 
            </p>
          </div>
          <div class="note">
            <h2>LLEGO EL DEBUT TAN ESPERADO</h2>
            <img src="/images/jpluck.jpeg" alt="">
            <p>Llegó el día, hoy es el momento, la pareja que venció a todos los rivales en la Pretemporada hace su debut en el undialito y lo hace nada mas ni nada menos que contra la pareja mediatica CALIFORNICATION.
              Hoy PALETA JOVATA quien a mostrado un nivel superlativo en los partidos de entremiento, se calza la remera y juega por los "porotos". Hoy es el día que los candidatos del amistoso hagan lo que tienen que hacer.
            </p>
          </div>
          <div class="note">
            <h2>HOY TENEMOS ACTIVIDAD</h2>
            <img src="/images/padel.jpg" alt="">
            <p> Hoy hay torneo, hoy se completa la Qualy, hoy a las 18hs juegan PALETA JOVATA y CALIFORNICATION, dos equipos con realidades distintas, dos equipos ambiciosos, con sueños de ORO. 
              Hoy se juega al segundo deporte más lindo del mundo, lástima que lo jueguemos nosotros y lo arruinemos. 
            </p>
          </div>
          <div class="note">
            <h2>SOLO QUEDA UN EQUIPO POR DEBUTAR</h2>
            <img src="/images/equipos/harlem.jpeg" alt="">
            <p>Como lo comentamos anteriormente, hoy hacen su debut el equipo de Bebo y White Chocolate vs JP y Luck, con esto tendremos a 10 de las 11 parejas con rodaje en el certamen. 
              Y la gente se pregunta, quién falta debutar? El equipo que aún está en la dulce espera es HARLEM, el equipo de "Killer Ace" Goe, el equipo que entrenó en las sombras y nadie pudo estudiar, debido a su política de no dejar grabarse. 
              De la mano del gran capitán y referente Goe y con politicas estrictas, el equipo se movió entre las sombras y hasta dejaron abierta la posibilidad de haberse entrenado en el exterior. 
              Será una buena táctica? o fue puro humo? Se verá en la proxima fecha cuando logren debutar.
            </p>
          </div>
          <div class="note">
            <h2>CRACKEN - AVALANCHA PARTIDAZO</h2>
            <img src="/images/pareja.jpg" alt="">
            <p>En un contexto poco habitual y con las tribunas vacías (algo que hace 2 años atrás hubiese sido inpensado), se disputó el partido entre 2 COLOSOS del Padel, CRACKEN llegaba al cotejo con ruedo oficial y 
              AVALANCHA oficializaba su participación en el certamen. Partido muy duro para los 4 integrantes, corridas espectaculares, puntos largos, y hasta en un momento estaba todo dado para el equipo debutante, 
              sin embargo con mucha ambisión y jugadas increíbles CRACKEN comenzó a "arrimar el bochin" y fue el momento donde AVALANCHA comenzó a llenarse de dudas. En resumen, 9 - 8 para CRACKEN .... PARTIDAZO
            </p>
          </div>
          <div class="note">
            <h2>FIXTURE DE LA ORGANIZACION</h2>
            <img src="/images/Cuartos_Oro.jpeg" alt="">
            <img src="/images/Qualy.jpeg" alt="">
            <p>
            </p>
          </div>
      </div>
    </main>
  </body>
</html>