<!DOCTYPE html>
<html>
  <head>
    <title>Mundialito Padel</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
          <div class="note">
            <h2>MUNDIALITO EN MARCHA #2</h2>
            <img src="/images/fecha1.jpeg" alt="">
            <p>El día llegó y el fixture fue completado por la organización. Casi como haciendose el distrída, la organización en un nuevo acto de calidad, anunció el día, el horario y la cancha donde
              se disputará la 1er fecha del torneo. Muchas expectativas en la inicialización del cotejo y recta final para la preparación de los equipos. Será posible un batacazo? O se dará la lógica?
              Aún es todo incertidumbre, pero lo importante es que EL MUNDIALITO ESTA EN MARCHA. De quién será "LA GLORIA ETERNA"?
            </p>
          </div>
          <div class="note">
            <h2>PAREJA SIN NOMBRE?</h2>
            <img src="/images/pareja.jpg" alt="">
            <p>Solo un equipo queda por presentrse y a esta altura la organización está deseperanzada que lo hagan. Lo importante es que la dupla PANZA-CIOCCA (la pareja más dura en la pretemporada), es el único equipo
              que aún no se presentó en sociedad, no tiene nombre, no tiene escudo. Los estadistas indican que es una estrategia para mostrar desgano y que el rival se relaje. Será?
            </p>
          </div>
          <div class="note">
            <h2>RECTA FINAL Y EMPEZAR</h2>
            <img src="/images/padel.jpg" alt="">
            <p>Ultima semana de pretemporada, última semana para corregir detalles. Ultima semana antes de salir a la cancha. Se viene el torneo y los equipos lo saben. Es hora de ponerse los cortos
              empuñar las palas y salir a la cancha "por los puntos".
            </p>
          </div>
          <div class="note">
            <h2>SE PERFILA LA PAREJA A VENCER?</h2>
            <img src="/images/jpluck.jpeg" alt="">
            <p>Casi sin descanso, la pareja <i>(AUN SIN NOMBRE)</i>, de Juan Pablo Panza y Luciano Ciocca, están entrenando y sin piedad alguna, destruyendo rivales.
            Dice la leyenda que "Luck" está intratable y el nivel de JP está por encima de la media.
            Actualmente la pareja no ha cedido 1 solo set dentro de los considerados, "amistoso oficial", dejando luego el 3er set, como el premio consuelo para la pareja que acaban de demoler.
            Tenemos al cuco del torneo? Es la pareja a vencer?
            </p>
          </div>
          <div class="note">
            <h2>CRACKEN DESAFIANTES Y ANTIDOPING?</h2>
            <img src="/images/parejacracken.jpg" alt="">
            <p>Casi como una gracia y desafiando a todas las reglas del torneo, el ultimo Sábado la pareja integrada por Vita-Panza subieron a la redes un posteo que, cuanto mínimo, fue considerado por el comite de ética, POLEMICO.
              Al mensaje de "tomando un batido especial que nos mandó el deportólogo para afrontar una nueva jornada de actividad", se vió como la pareja ingería un brebaje "motivacional" para los cotejos que debían afrontar.
              Allegados al comité, indicaron que el posteo y postura de los integrantes no cayó bien en la organización y se están evaluando posibles sanciones disciplinarias. Se viene un antidoping sorpresa? 
            </p>
          </div>
          <div class="note">
            <h2>CONVERSACIONES O AMENAZAS</h2>
            <img src="/images/wapp.jpg" alt="">
            <p>Se estan viviendo momentos de mucha tensión en el Whatsapp del torneo, hay varios integrantes que no estan poniendo un filtro y sin mediar palabras expresan toda su ira contra alguna pareja rival.
              El ejemplo mas claro lo vivió Sebastian Panza cuando el ultimo Sábado recibió de parte de Gaston Vega una desafiante frase: "Que ganas de romperte el orto" se leyó. Y ante la atónita vista del resto de los concursantes, el tema pasó desapercibido,
              gracias a la NO reacion de la victima de TAL agresión. Algunos dicen que fue inteligente no reaccionar, sin embargo del entorno del agresor aseguran que SP "arrugó".
              No es la primera vez que se vive una situación como esta, hace poco Ariel "Tato" Fresno lanzó un "estos jugadores son los mas lindos para hacerles morder el polvo", en referencia a Luciano Segura.
              Se verá un Mundialito agresivo verbalmente o todo quedará en Whatsapp?
            </p>
          </div>
      </div>
    </main>
  </body>
</html>