<!DOCTYPE html>
<html>
  <title>Mundialito Padel</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" href="/css/index.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
          <div class="note">
            <h2>MUNDIALITO EN MARCHA</h2>
            <img src="/images/worldpadel.jpg" alt="">
            <p>Con convocatoria record, se puso en marcha la temporada 2021 del Mundialito de Padel.
              En la gala de sorteo que dió el puntapié inicial a la competencia, la organización mostró que no es un torneo solo para "jugar"; la competencia será feroz para todas las parejas
              Sin dudar 1 solo momento los equipos empezaron a moverse y se vió reflejada la rivalidad que traerá el cotejo.
              Entrenamientos sin descansos y a horas desmedidas. 
            </p>
          </div>
          <div class="note">
            <h2>SE HACEN ESPERAR?</h2>
            <img src="/images/pareja.jpg" alt="">
            <p>Teniendo ya el 65% de los equipos con su nombre y escudo que los representan. Aún restan la confirmación de equipos importantes para el cotejo. Algunos dicen que las estrellas van a lo ultimo,
              pero en los pasillos se habla de falta de ingenio y/o coordinacion en los integrantes del plantel. Será? Mientras tanto se rumorea la inminente convocatoria a rueda de prensa de la pareja Vega-Venezia, para ser el proximo equipo en presentarse en sociedad con marca registrada.
            </p>
          </div>
          <div class="note">
            <h2>FIN DE SEMANA A PURO PADEL</h2>
            <img src="/images/padel.jpg" alt="">
            <p>El pasado fin de semana hemos visto actividad casi en el 100% de las parejas concursantes, una vez más esto muestra el compromiso, competitividad y las ganas de ganar de cada uno de los equipos.
              Alguno equipos seleccionaron la sede privada de Escobar para entrenar, sin embargo la mayoría de los equipos lo hicieron en bunkers aledaños al centro mundial donde se disputará el torneo.
            </p>
          </div>
          <div class="note">
            <h2>SE PERFILA LA PAREJA A VENCER?</h2>
            <img src="/images/jpluck.jpeg" alt="">
            <p>Casi sin descanso, la pareja <i>(AUN SIN NOMBRE)</i>, de Juan Pablo Panza y Luciano Ciocca, están entrenando y sin piedad alguna destruyendo rivales.
            Dice la leyenda que "Luck" está intratable y el nivel de JP está por encima de la media.
            Actualmente la pareja no ha cedido 1 solo set dentro de los considerados, amistoso oficial, dejando luego el 3er set "amistoso" el premio consuelo para la pareja que avaban de demoler.
            Tenemos al cuco? Es la pareja a vencer?
            </p>
          </div>
          <div class="note">
            <h2>CRACKEN DESAFIANTES Y ANTIDOPING?</h2>
            <img src="/images/parejacracken.jpg" alt="">
            <p>Casi como una gracia y desafiando a todas las reglas del torneo, el ultimo Sábado la pareja integrada por Vita-Panza subieron a la redes un posteo que, cuanto mínimo, fue considerado por el comite de ética, POLEMICO.
              Al mensaje de "tomando un batido especial que nos mandó el deportólogo para afrontar una nueva jornada de actividad", se vió como la pareja ingería un brebaje que "motivacional" para los cotejos que debían afrontar.
              Allegados al comité, indicaron que el posteo y postura de los integrantes no cayó bien en la organización y se están evaluando posibles sanciones disciplinarias. Se viene un antidoping sorpresa? 
            </p>
          </div>
          <div class="note">
            <h2>CONVERSACIONES O AMENAZAS</h2>
            <img src="/images/wapp.jpg" alt="">
            <p>Se estan viviendo momentos de mucha tensión en el Whatsapp del torneo, hay varios integrantes que no estan poniendo un filtro y sin mediar aplabras expresan toda su ira contra alguna pareja rival.
              El ejemplo mas claro lo vivió Sebastian Panza cuando el ultimo Sábado recibió de parte de Gaston Vega una desafiante frase: "Que ganas de romperte el orto" se leyó. Y ante la atónita vista del resto de los concursantes, el tema pasó desapercibido,
              gracias a la NO reacion de la victima de TAL agresión. Algunos dicen que fue inteligente no reaccionar, sin embargo del entorno del agresor aseguran que SP "arrugó".
              No es la primera vez que se vive una situación como esta, hace poco Ariel Tato lanzó un "estos jugadores son los mas lindos para hacerles morder el polvo", en referencia a Luciano Segura.
              Se verá un Mundialito agresivo verbalmente o todo quedará en Whatsapp?
            </p>
          </div>
      </div>
    </main>
  </body>
</html>