<!DOCTYPE html>
<html>
  <head>
    <title>Mundialito Padel</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
          <div class="note">
            <h2>FIN DEL CUENTO PARA CENICIENTA</h2>
            <img src="/images/parejacracken.jpg" alt="">
            <p>La pregunta de la gente se respondió: LES QUEDARA LA ROPA o SERA MUY GRANDE? Cracken, el equipo más mediático del certamen, fue el primero en quedar eliminado del torneo.
              La cenicienta del torneo se quedó con las manos vacías luego de que Harlem consiguiera 1 set en el partido de semifinales contra Peaky. Sin embargo, la pareja mediatica no se fue callada
              "Hubo arreglo para dejarnos afuera". Será? Mientras tanto el Mundialito avanza y a la Cenicienta el zapato no le entró.
            </p>
          </div>
          <div class="note">
            <h2>TENEMOS FINALISTAS DE ORO</h2>
            <img src="/images/equipos/Peaky.jpeg" alt="">
            <img src="/images/equipos/rondpoint.jpeg" alt="">
            <p>CRACKEN y HARLEM en el camino, ya tenemos final de oro, resta fijar fecha, hora y sede y tendremos todos los condimentos para el partido mas importante del mundialito.
              Con la idea fija de llegar a esta instancia, tanto ROND POINT como PEAKY PLAYERS, hicieron sus deberen y ganaron las semis. En el 1er caso el transcurso del partido fue normal y sin sobresaltos.
              Sin embargo el partido de Peaky fue mas trabado y largo. Pesará ese set extra en la piernas de lo jugadores? Todas las preguntas estan a dias de responderse. 
            </p>
          </div>
          <div class="note">
            <h2>MAÑANA ARRANCA LA ZONA DE PLATA</h2>
            <img src="/images/padel.jpg" alt="">
            <p> Ya con todos los integrantes ubicados en la grilla, mañna será el día para que arranque la otra mitad de la gloria. Los equipos que quedaron por el camino en el torneo, tendrán su segunda vida
              y podrá participar de la copa "Revancha". Hay sangre, hay sed de venganza y los ganadores sabrán, que a pesar de no ser la final soñada, un poco de alivio llegará al jugar la Superfinal tan deseada. 
            </p>
          </div>
          <div class="note">
            <h2>HAMMERS MUY COMPLICADOS</h2>
            <img src="/images/equipos/hammers.jpeg" alt="">
            <p>Mañana volvemos a rodar en Cuartos de final, esta vez será por la zona de plata, y hay mucho nervio, mucha impaciencia, sin embargo tenemos la 1er baja individual.
              Braca no está disponible para la actividad de mañana por lo que Rubi deberá selecciona de los partenaires disponibles para reemplazarlo y así poder jugar su partido contra SANGRE INCA.
              Algunos indican que hubo mano negra, otros rumoren pelea de pareja, lo real, es que Rubi deberá afrontar este cotejo solo con 1 suplente, se le dará?
            </p>
          </div>
          <div class="note">
            <h2>VUELVE CALIFORNICATION, VUELVE?</h2>
            <img src="/images/equipos/californication.jpeg" alt="">
            <p>La pareja de la pretemporada en Miami, la pareja del videito para presentarse, la pareja de Bebo y White Chocolate vuelve. A pesar de sus amenazas de terminar el torneo luego de 2 papelones, vuelven.
              El rival esta vez será Avalancha, que tuvo la mala suerte de solo disputar 1 partido y está muy ansioso de volver a jugar en el torneo. Qué pasará en la cancha? Mañana tendremos definición y veremos si CALIFORNICATION puede cortar esta mala racha.
            </p>
          </div>
          <div class="note2">
            <h2>FIXTURE DE LA ORGANIZACION</h2>
            <img src="/images/23062021.jpeg" alt="">
            <p>
            </p>
          </div>
      </div>
    </main>
  </body>
</html>