<!DOCTYPE html>
<html>
  <head>
    <title>Mundialito - Torneo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/cuartos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
        <div class="botonera-torneo">
        <div class="qualy">
          <a href="/torneo"><p>      |      QUALY      |      </p></a>
        </div>
        <div class="cuartos">
          <a href="/cuartos"><p>      |      CUARTOS      |      </p></a>
        </div>
        <div class="semis">
          <a href="/semis"><p>      |      SEMIS      |      </p></a>
        </div>
        <div class="final">
          <a href="/final"><p>      |      FINALES      |      </p></a>
        </div>
        <div class="super">
          <a href="/super"><p>      |      SUPER FINALES      |      </p></a>
        </div>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
        <div class="fase">
          <p>SEMIS</p>
        </div>
<!-- EMPIEZA LA ZONA ORO -->
        <div class="oro-plata">
          <div class="zona1">
            <p>ZONA ORO</p>
          </div>
        </div>
        <div class="partido">
          <div class="letra1">
            <p>SO1</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/generico.jpeg" alt="">
            <p>GANADOR CO1/CO2</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>GANADOR CO3/CO4</p>
            <img src="/images/equipos/generico.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>SO2</p>
          </div>
          <div class="date">
            <p>Fecha: <i>01/01/2021</i> - Hora: <i>00:00</i> - Complejo: <i>"El Mirador"</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="partido">
          <div class="letra1">
            <p>SO3</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/generico.jpeg" alt="">
            <p>GANADOR CO5/CO6</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>GANADOR CO7/CO8</p>
            <img src="/images/equipos/generico.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>SO4</p>
          </div>
          <div class="date">
            <p>Fecha: <i>01/01/2021</i> - Hora: <i>00:00</i> - Complejo: <i>"El Mirador"</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
<!-- EMPIEZA LA ZONA PLATA -->
        <div class="oro-plata">
          <div class="zona2">
            <p>ZONA PLATA</p>
          </div>
        </div>
        <div class="partido">
          <div class="letra1">
            <p>SP1</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/generico.jpeg" alt="">
            <p>GANADOR CP1/CP2</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>GANADOR CP3/CP4</p>
            <img src="/images/equipos/generico.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>SP2</p>
          </div>
          <div class="date">
            <p>Fecha: <i>01/01/2021</i> - Hora: <i>00:00</i> - Complejo: <i>"El Mirador"</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="partido">
          <div class="letra1">
            <p>SP3</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/generico.jpeg" alt="">
            <p>GANADOR CP5/CP6</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>GANADOR CP7/CP8</p>
            <img src="/images/equipos/generico.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>SP4</p>
          </div>
          <div class="date">
            <p>Fecha: <i>01/01/2021</i> - Hora: <i>00:00</i> - Complejo: <i>"El Mirador"</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </main>
  </body>
</html>