<!DOCTYPE html>
<html>
  <head>
    <title>Mundialito - Torneo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="/css/torneo.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <div class="header-contenedor">
        <div class="header-logo"><a href="/index"><img src="/images/logo_chico.jpg"></a></div>
        <div class="header-noticias">
          <a href="/index"><p>      |      Noticias      |      </p></a>
        </div>
        <div class="header-equipos">
          <a href="/equipos"><p>      |      Equipos      |      </p></a>
        </div>
        <div class="header-torneo">
          <a href="/torneo"><p>      |      Torneo      |      </p></a>
        </div>
        <div class="botonera-torneo">
        <div class="qualy">
          <a href="/torneo"><p>      |      QUALY      |      </p></a>
        </div>
        <div class="cuartos">
          <a href="/cuartos"><p>      |      CUARTOS      |      </p></a>
        </div>
        <div class="semis">
          <a href="/semis"><p>      |      SEMIS      |      </p></a>
        </div>
        <div class="final">
          <a href="/final"><p>      |      FINALES      |      </p></a>
        </div>
        <div class="super">
          <a href="/super"><p>      |      SUPER FINALES      |      </p></a>
        </div>
        </div>
      </div>
    </header>
    <main>
      <div class="main-contenedor">
        <div class="fase">
          <p>QUALY</p>
        </div>
        <div class="partido">
          <div class="letra1">
            <p>A</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/doblev.jpeg" alt="">
            <p>DOBLE V</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>CRACKEN BOYS</p>
            <img src="/images/equipos/cracken.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>B</p>
          </div>
          <div class="date">
            <p>Fecha: <i>15/06/2021</i> - Hora: <i>19:00</i> - Complejo: <i>"El Mirador" - Court#4</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="partido">
          <div class="letra1">
            <p>C</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/hammers.jpeg" alt="">
            <p>THE HAMMERS</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>DOS OSOS</p>
            <img src="/images/equipos/dososos.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>D</p>
          </div>
          <div class="date">
            <p>Fecha: <i>15/06/2021</i> - Hora: <i>18:30</i> - Complejo: <i>"El Mirador" - Court#2</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="partido">
          <div class="letra1">
            <p>E</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/generico.jpeg" alt="">
            <p>PANZA - CIOCCA</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>CALIFORNICATION P.C.</p>
            <img src="/images/equipos/californication.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>F</p>
          </div>
          <div class="date">
            <p>Fecha: <i>15/06/2021</i> - Hora: <i>19:15</i> - Complejo: <i>"El Mirador" - Court#2</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="partido">
          <div class="letra1">
            <p>G</p>
          </div>
          <div class="equipo1">
            <img src="/images/equipos/sangre.jpeg" alt="">
            <p>SANGRE INCA</p>
          </div>
          <div class="vs">
            <p>VS</p>
          </div>
          <div class="equipo2">
            <p>PEAKY PLAYERS</p>
            <img src="/images/equipos/Peaky.jpeg" alt="">
          </div>
          <div class="letra2">
            <p>H</p>
          </div>
          <div class="date">
            <p>Fecha: <i>15/06/2021</i> - Hora: <i>19:45</i> - Complejo: <i>"El Mirador" - Court#4</i></p>
          </div>
          <div class="resultado">
            <p>Resultado Final: <i>Por disputarse</i></p>
          </div>
          <div class="ganador">
            <p>Equipo Ganador: <i>"Por disputarse"</i></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>